<div class='container-fluid'>
    <div class='row'>
        <div id='create_error' class='col-md-4 col-md-offset-4'></div>
    </div>
</div>

<br/>

<form class="form-horizontal">

  <h2 style='text-align:center;'> Project {{project.name}} Allocation </h2>
  <br/>
    <!-- Joiner Email -->
    <div class="form-group">
      <label class="col-md-4 col-md-offset-1 control-label" for="email">Your email address:</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md" value="{{email}}" readonly="readonly">
      </div>
    </div>
	<!-- Joiner Name -->
    <div class="form-group">
      <label class="col-md-4  col-md-offset-1 control-label" for="joinerName">Your name:</label>
      <div class="col-md-4">
        <input id="joinerName" name="joinerName" type="text" placeholder="Enter your name" class="form-control input-md">
      </div>
    </div>

	<!-- About -->
	<div class="form-group">
      <label class="col-md-4  col-md-offset-1 control-label" for="joinerAbout"> About Yourself <br/> (Skills / Interests etc.): </label>
      <div class="col-md-4">
        <textarea class="form-control" id="joinerAbout" name="joinerAbout" placeholder="Tell everyone more about yourself! (140 characters max.)"></textarea>
      </div>
    </div>

	<!-- Skills of Interest -->
	<div class="form-group">
    {{#if skill}}
  	  <label class="col-md-4  col-md-offset-1 control-label" for="joinerSkills"> Skills of Interest: <br> (10 = most proficient) </label>
  	  <div class="col-md-4">
  		  <div class="form-group">
    {{/if}}
		  {{#each skill}}

		  <label class="col-md-4 control-label" for="joinerSkill{{@index}}"> {{this}} </label>
  		  <div class="col-md-8 range-slider">
  			  <input id="joinerSkill{{@index}}" name="joinerSkill{{@index}}" type="range" placeholder="Rate yourself (1 - 10)" min="1" max="10" step="1" value="5" class="form-control input-md range-slider__range">
          <span class="range-slider__value">5</span>
  		  </div>

		  {{/each}}

		  <input id="joinerNumSkills" name="joinerNumSkills" type="hidden" class="form-control input-md" value="{{skill.length}}">
  		</div>
	  </div>
	</div>


	<!-- Button -->
    <div class="form-group">
      <label class="col-md-4 col-md-offset-1 control-label" for="submitJoin"></label>
      <div class="col-md-4">
        <button id="submitJoin" name="submitJoin" class="btn btn-primary" type="button">Join Project Allocation </button>
		<button class="btn btn-danger" type="reset">Reset</button>
      </div>
    </div>

</form>
