<div class='container-fluid'>
    <div class='row'>
        <div id='create_error' class='col-md-4 col-md-offset-4'></div>
    </div>
</div>

<br/>

<form class='form-horizontal'>
	<div class='container-fluid' id='match-container'>
    <h3 style='text-align:center;'> Candidates for {{ project.name }} </h3>
    <hr/>
    <div class='row'>
        <div class='col-md-2 col-md-offset-1'>
            <b> Name </b>
        </div>
        <div class='col-md-6'>
            <b> Individual Description </b>
        </div>
        <div class='col-md-2'>
            <b> Preferred </b>
        </div>
    </div>
    <hr/>
	{{#each people}}
			<div class='row'>
				<div class='col-md-2 col-md-offset-1' id='matchPersonName{{this.id}}'>
					{{this.name}}
				</div>
				<div class='col-md-6' id='matchPersonAbout{{this.id}}'>
					{{this.about}}
				</div>
				<div class='col-md-2'>
					<input id="matchPersonVote{{this.id}}" name="matchPersonVote{{this.id}}" type="checkbox" class="form-control input-md" value='{{this.id}}' data-toggle="toggle"/>
				</div>
			</div>
            <hr/>
	{{/each}}

		<input id="matchNumPersons" name="matchNumPersons" type="hidden" class="form-control input-md" value='{{people.length}}'/>
		<!-- Button -->
        <br/><br/>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="submitMatch"></label>
		  <div class="col-md-4">
			<button id="submitMatch" name="submitMatch" class="btn btn-primary" type="button">Enter Preference</button>
			<button class="btn btn-danger" type="reset">Reset</button>
		  </div>
		</div>
	</div>
</form>
